langgraph
langchain-openai
langchain-community
fastmcp
python-dotenv
psycopg2-binary
pgvector
pandas
pydantic
fastapi
uvicorn
faiss-cpu
aiosqlite
langchain-ollama
ragas
prometheus-fastapi-instrumentator
datasets
python-multipart
